@charset "UT-8";

body{
background-color: rgb(59, 59, 59);
}

h1{
background-color: rgb(34, 33, 33); color: rgb(253, 253, 253);
}

h2{
background-color: rgb(34, 33, 33); color: rgb(253, 253, 253)
}

p{
background-color: rgb(34, 33, 33); color:  rgb(253, 253, 253);
}

a{
    color: rgb(253, 253, 253)
}